@import "vars"
@import "fonts"
//start global style
body
  background: var(--tg-theme-bg-color)
  font-family: $secondary-font
body * 
  box-sizing: border-box
  line-height: 1.5
  color: var(--tg-theme-text-color)
  
  
.container 
  width: 90vw 
  margin-left: auto 
  margin-right: auto

body
  margin: 0
  padding: 0
h1
  font-size: 23px
  line-height: 1
  font-weight: 700

h2
  font-size: 23px
  text-align: center
  margin-bottom: 0
  font-weight: 700
  line-height: 1.5

a:hover
  text-decoration: none

.sub-title
  text-align: center
  font-size: 16px
  margin-bottom: 10px
  margin-bottom: 10px
.sub-title.bold 
  font-size: 20px
  margin-top: 20px
.button 
  cursor: pointer
.button div,
.button a
  width: 100%
  background: #5cc7fb
  //background: var(--tg-theme-button-color)
  color: var(--tg-theme-button-text-color)
  border-radius: 10px
  text-align: center
  display: block
  padding: 10px 10px
  font-size: 20px
.underline
  text-decoration: underline
//end global style

//start header style 

//start header style 
.header 
    display: flex 
    justify-content: center
    align-items: center
    font-family: $main-font
    color: #e64444 
    font-weight: 800
    font-size: 28px
    padding-top: 15px
    padding-bottom: 15px
    img 
        display: block 
        margin-right: 5px
//end header style



//start support style 
.buttons-wrapper
  display: flex
  justify-content: space-between
  flex-wrap: wrap
  padding-top: 20px 
  padding-bottom: 40px
  .button 
    width: 48%
    text-align: center
    margin: 10px 0
    height: auto
    a
      text-decoration: none
      height: 100%
      display: flex 
      align-items: center 
      justify-content: center
      font-size: 15px
.support-button
  a 
    display: flex 
    justify-content: center 
    align-items: center 
    font-size: 15px
    text-decoration: none
    cursor: pointer
    img 
      width: 30px  
      margin-right: 10px
      background: transparent
.instruction-content 
  display: none
  padding-top: 40px
.code-input
  display: block 
  height: 40px 
  border-radius: 5px
  padding: 0 15px
  font-size: 18px
  width: 100%
.button a
  font-size: 15px
  text-decoration: none
.button-confirm
  margin-top: 15px
//end support style

//start modal style
.modal-window
  position: fixed 
  top: 0 
  left: 0 
  width: 100% 
  height: 100%
  z-index: 999 
  background: rgba(#000, 0.8)
  display: none
.modal-window__content
  background: #fff
  position: absolute 
  top: 50%
  left: 50%
  padding: 30px
  transform: translateX(-50%) translateY(-50%)
  border-radius: 10px
  width: 300px 
  max-width: 90%
  text-align: center
  img 
    width: 40px 
    margin-left: auto 
    margin-right: auto 
    display: block
.support-button
  position: relative
.support-button .support-button__counter
  background: #EE5050
  z-index: 9
  width: 20px 
  height: 20px
  display: flex 
  justify-content: center 
  align-items: center
  font-size: 12px
  border-radius: 50%
  transform: translateY(-50%) translateX(-50%)
  margin-left: 0px
  position: fixed 
  top: 11px
  right: -9px

//end modal style
.info-field 
  padding: 10px 30px 
  border-radius: 10px 
  background: #F7D7DA
  margin-top: 20px 
  color: #53262B
  font-size: 15px
  display: flex 
  align-items: center
  margin-bottom: 30px
  img 
    display: block 
    align-items: center 
    margin-right: 10px
    width: 25px
    background: trasparent
.button-confirm--disabled a
  background: #C6C3C3

.captcha-container
  text-align: center
.slider-container
  position: relative
  width: 100%
  height: 40px
  background-color: #ddd
  border-radius: 20px
  margin-top: 20px
  cursor: pointer
  p 
    text-align: left
.slider-track
  position: absolute
  width: 100%
  height: 100%
  background-color: #bbb
  border-radius: 20px
.slider-thumb
  position: absolute
  width: 40px
  height: 40px
  background-color: #fff
  border-radius: 50%
  cursor: pointer
  border: 3px solid #bbb
  left: 0
  transition: left 0.2s
  display: flex 
  justify-content: center 
  align-items: center
  img 
    max-height: 50%
.slider-instructions
  margin-top: 10px
  font-size: 14px
  color: var(--tg-theme-hint-color)

.button.support-button
  position: fixed
  bottom: 20px
  right: 20px
  z-index: 1000
  width: 70px
  height: 70px 
  border-radius: 50%
  padding: 0
  display: flex 
  justify-content: center 
  align-items: center
  box-shadow: 0px 0px 10px rgba(#fff, 0.6)
  img 
    width: 40px 
    height: auto
  div,
  a 
    border-radius: 50%
    width: 100% 
    height: 100%
    display: flex
    justify-content: center
    align-items: center
.button.support-button
  right: 20px
  bottom: 20px
  max-width: calc(100vw - 40px)
.button.support-button .support-button__counter
  width: 20px
  height: 20px
  font-size: 10px
  position: absolute

//start search style 
.aa-DetachedSearchButton
  border: 1px solid var(--tg-theme-hint-color)
  border: 1px solid lightgrey
  background-color: transparent
  border-radius: 10px
  outline: none
.aa-Autocomplete *,
.aa-DetachedFormContainer *,
.aa-Panel *
  fill: #5cc7fb
  //background: var(--tg-theme-button-color)
.aa-Form
  border: 1px solid lightgrey
  border-radius: 10px
.aa-Form:focus-within
  outline: none 
  border: 2px solid lightgrey 
  box-shadow: none
.aa-DetachedFormContainer
  outline: none
.aa-DetachedCancelButton
  background: #5cc7fb
  //background: var(--tg-theme-button-color)
  color: var(--tg-theme-button-text-color)
  border-radius: 10px
.aa-SourceNoResults
  text-align: center
  background: #F1F1F1
  border-radius: 10px
.aa-Item
  border-bottom: 1px solid lightgrey
  border-radius: 0 
  padding-bottom: 15px
  margin-bottom: 15px
  .aa-Item-title
    color: #5cc7fb
    display: inline
    text-decoration: underline
.aa-DetachedSearchButton
  background: var(--tg-theme-bg-color)
.aa-SourceHeader
  text-align: center
  font-size: 24px
  font-weight: 600
  margin-bottom: 15px
.aa-Item__icon
  margin-right: 5px
.aa-DetachedCancelButton
  //display: none
//end search style 
.text-modal
  position: fixed 
  top: 0 
  left: 0
  z-index: 9999
  display: none
  width: 100% 
  height: 100vh 
  overflow-y: auto
  padding-bottom: 10px
.text-modal__content
  background: #fff
  width: 100%
  height: 100vh
  position: absolute
  top: 0px 
  left: 50% 
  transform: translateX(-50%)
  padding: 20px 15px
  padding-top: 40px
  overflow-y: auto
.text-modal__title
  font-size: 24px 
  font-weight: 700
  line-height: 1.2
  margin-bottom: 10px
.close-button
  position: absolute
  top: 15px 
  right: 15px
  img 
    width: 20px

.aa-DetachedContainer,
.aa-Form,
.aa-DetachedContainer .aa-Panel,
.text-modal__content
  background: var(--tg-theme-bg-color)
.aa-Input,
.aa-Item,
.aa-SourceHeader,
.text-modal__title,
.text-modal__text
  color: var(--tg-theme-text-color)
.text-modal__text
  font-size: 14px
@import "media"




